<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

<h2>Contracts</h2>

<div th:each="owner : ${listContracts}">
  <h3 th:text="${owner.firstName} + ' ' + ${owner.lastName} + ' Contracts'">Owner Contracts</h3>

<table id="owners" class="table table-striped">
  <thead>
  <tr>
    <th style="width: 150px;">Name</th>
    <th style="width: 200px;">Description</th>
    <th style="width: 120px">basePrice</th>
    <th>Used Items</th>

      <th>SUM</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="contract : ${owner.bookedServices}">
      <td th:text="${contract.name}"/>
      <td th:text="${contract.description}"/>
      <td th:text="${contract.basePrice}"/>
      <td><a th:href="@{/contracts/details.html(contractId=${contract.id})}" th:text="${contract.usedItems.size()}">0</a></td>
      <td th:text="${contractTotals[contract.id] != null ? contractTotals[contract.id] + ' €' : '0.00 €'}"></td>
  </tr>
  </tbody>
</table>

</div>

</body>
</html>

